.container {
  text-align: center;
}

.buttonStyle{
  width: 250px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color:#77DD77;
  border-color: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
}

.buttonStyle2{
  width: 250px;
  font-size: 16px;
  font-weight: bold;
  color: #757a7c;
  background-color:#FFF;
  border-color: #77DD77;
  border-radius: 5px;
}

.inputStyle{
  margin-right: 10px;
}